<h1><%= @post.name %></h1>
<p><%= @post.content %></p>
<%= link_to "Back to All Posts by #{@post.author.name}", author_posts_path(@post.author), class: "btn btn-info" %>
<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-default" %>
<%= link_to "Delete Post", @post, method: :delete, data:{confirm: "Are you sure you want to delete this post?"}, class: "btn btn-danger"%>
